.PodcastSearch {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.PodcastSearch__Count {
  border-radius: .5rem;
  padding: auto .25rem;
  font-size: 1rem;
}

.PodcastSearch__SearchBar {
  padding-left: .5rem;
  padding-right: .5rem;
  margin-left: .5rem;
}