.PodcastListItem {
  width: calc(25% - 20px);
  margin: 30px 10px;
  text-align: center;
  position: relative;
  cursor: pointer;
}

.PodcastListItem a,
.PodcastListItem a:hover,
.PodcastListItem a:focus,
.PodcastListItem a:active {
  color: rgb(41, 43, 44);
  text-decoration: none;
}

.PodcastListItem__Image {
  position: relative;
  border-radius: 50%;
  width: 120px; /* hardcoded size because this is the size of the thumbnail */
  height: 120px;
  display: block;
  margin: 0 auto;
  z-index: 2;
}

.PodcastListItem__Card {
  position: relative;
  top: -60px;
  z-index: 1;
}

.PodcastListItem__Content {
  margin-top: 60px;
}

.PodcastListItem__Content h4 {
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
}