.EpisodeDetail {
  width: 100%;
}

.EpisodeDetail__Container {
  width: 100%;
  padding: 15px;
}

.EpisodeDetail__Title {
  margin: 0;
  font-size: 1.5rem;
}

.EpisodeDetail__Description {
  font-size: .75rem;
  font-style: italic;
  padding: 8px 0;
  border-bottom: 1px solid lightgray;
}

.EpisodeDetail__Player {
  width: 100%;
}