.EpisodesList {
  width: 100%;
}

.EpisodesList__Count {
  width: 100%;
  padding: 15px;
  margin-bottom: 15px;
}

.EpisodesList__Count h3 {
  margin: 0;
  font-size: 1.5rem;
}

.EpisodesList__TableContainer {
  width: 100%;
  padding: 15px;
}

.EpisodesList__Table {
  width: 100%;
  font-size: .75rem;
}

.EpisodesList__Table tr td:first-child {
  width: 100%
}
